@if (variant() === 'mini') {
  <div class="mini">
    <span class="mini__icon" [class]="'tone-' + tone()">
      <app-icon [name]="icon()" [size]="16" />
    </span>
    <div class="mini__text">
      <span class="mini__label">{{ label() }}</span>
      <span class="mini__value">{{ value() }}</span>
    </div>
  </div>
} @else {
  <div class="card">
    <div class="card__top">
      <span class="card__label">{{ label() }}</span>
      <span class="card__icon"><app-icon [name]="icon()" [size]="16" /></span>
    </div>
    <span class="card__value">{{ value() }}</span>
    @if (delta()) {
      <span class="card__delta" [class.negative]="!positive()">{{ delta() }}</span>
    }
  </div>
}
